<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a href="#" class="navbar-brand">Preaching Role</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li><a href="#" class="nav-link">Main</a></li>
              <li><a href="#" class="nav-link">Members</a></li>
              <li><a href="#" class="nav-link">Speeches</a></li>
            </ul>
          </div>
        </div>
      </nav>