<br><hr><hr><table align="left">
  <tr>
    <th>Member Details</th>
  </tr>
  <tr>
      <td>
          <tr>
            
            <div class = "col-sm-15 mx-auto">
              <form (submit)="submitId(id)">
                <input class="form-group" type="text" placeholder="Member Id" #id>
                <button class="btn btn-warning mt-2">Send</button>
              </form>
            </div>
         
          </tr>      
        
          <tr>first name: {{memberInfo.first_name}}<br></tr>
          <tr> name: {{memberInfo.last_name}}<br></tr>
          <tr>phone number: {{memberInfo.phone_number}}<br></tr>
          <tr>sex: {{memberInfo.sex}}</tr>
        
      </td>
  </tr>
</table>





 
