<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <table class="table">
    <thead>
      <h1>Details</h1>
    </thead>
    <tbody>
      <tr>
        <td>Firtsname:</td>
        <td>{{member.name}}</td>
      </tr>
      <tr>
        <td>Lastname:</td>
        <td>{{member.id}}</td>
      </tr>
      <tr>
        <td>Phone-number:</td>
        <td></td>   
      </tr>
      <tr>
        <td>sex:</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</body>
</html>