<h1>{{ title }}</h1>

<div class="container border">
  <div class="row headers">

    <div class="col border" *ngFor="let property of properties">
      {{property.name}}
    </div>

    <div class="col">
      Action
    </div>
    
  </div>

  <div class="row" *ngFor="let entity of entities">

    <div class="col border" *ngFor="let property of properties">
      {{entity[property.value]}}
    </div>

    <div class="col border">
      <button class="btn btn-outline-dark" (click)="clickOnEntity(entity)">Details</button>
    </div>

  </div>
</div>